.menu-icon{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include  easeOut();
    .icon-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: setTextColor($primary-color);
        @include  easeOut;
    }
    &.close{
        transform:  rotate(180deg);
    
        .icon-line{
            &:nth-child(1){
                transform:rotate(45deg) translate(6px,5px);
            }
            &:nth-child(2){
              opacity: 0;
               
            }
            &:nth-child(3){
                 transform:rotate(-45deg) translate(7px,-5px);
    }
}
}
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show{
        visibility: visible;
     }
     &-brand,
     &-nav{
         display: flex;
         flex-flow:column  wrap;
         align-items: center;
         justify-content: center;
         float: left;
         width: 50%;
         height: 100vh;
         overflow: hidden;
        }
        &-nav{
            margin: 0;
            padding:  0;
            background:  darken($primary-color,5);
            list-style: none;
            transform: translate3d(0, -100%,0);
            @include easeOut;
            &.show{
                transform: translate3d(0,0,0);
            }


        }
        &-brand{
           
            background: darken($primary-color,3);
            transform:  translate3d(0,100%,0);
            @include easeOut;
            &.show{
                transform: translate3d(0,0,0);
            }
            .portrait{
                background: url("https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
               border-radius: 50%;
                width: 250px;
                height: 250px;
                border: solid 3px $secondary-color;
            }
            
            

        }
        .nav-item{
            transform:translate3d(600px ,0  , 0 );
            @include easeOut;
            &.show{
                transform: translate3d(0,0,0);
            }
            &.current >a{
              color: $secondary-color;  
            }
            
        }
        .nav-link{
            display:inline block;
            position:relative;
            padding:1em 0;
            font-size:2em;
            font-weight:300;
            color:setTextColor($primary-color);
            text-decoration:none;
            cursor:pointer;
            
            &:hover{
                color:$secondary-color;
                
            }
            
            
        }
}


@for $x from 1 through 4{
    .nav-item:nth-child(#{$x}){
        transition-delay:$x*0.1s;
    }
}

