@import "config";
@import "menu";



body{
    @include background();
    background:$primary-color;
    color:setTextColor($primary-color);
    height:100%;
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    line-height:1.5;
}
*{
    box-sizing:border-box;
}
//headings
h1,
h2,
h3{
    margin:0;
    font-weight:400;
&.lg-header{
    font-size:6rem;
     margin-top:10vh;
}
&.sm-header{
    font-size:2rem;
    margin-bottom:2em;
    padding:0.2em 1em;
    background:rgba(lighten($primary-color,2),0.5);
}
}
a{
    color:white;
    text-decoration:none;
}
header{
    position:fixed;
    z-index:2;
    width:100% ;
}
.text-secondary{
    color:$secondary-color;
}
main{
    padding:4em;
    min-height:calc(100vh- 60px);
    .icons{
        font-size:2em;
        margin-top:1em;                                             
        a{
            padding:0.4em;
            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow:hidden;
        h1 {
      margin-top: 20vh;
    }
       
    }
}
        
.about-me{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
    grid-template-columns:repeat(3,1fr);
    .bio-image{
        grid-area:bioimage;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border:solid 3px $secondary-color;
        margin:auto;
    }
    .bio{
          grid-area:bio; 
          font-size: 1.1em;
    }
    .job-1{
          grid-area:job1;
        
    }
    .job-2{
          grid-area:job2;
    }
    .job-3{
          grid-area:job3;
       
    }
    .jobs{
          background: lighten($primary-color,5);
          padding:0.5em;
          border-bottom:solid 5px $secondary-color ;
    }
}

/// contact page
.boxes{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  
    margin-top:1em;
    div{
        border:2px solid white;
        font-size:1.8em;
        padding:1.2em 2em;
        margin:0.2em auto;
        
        @include easeOut;
        &:hover{
            padding:0.5em 1.5em;
            background:$secondary-color;
            color:setTextColor($secondary-color);
            span{
                color:setTextColor($secondary-color);
            }
        }
    }
}

.about-works{
   img{
        width:38em;
        margin-right:0;
        padding-right:0;
        height:28em;
        border:solid 4px gray;
        border-radius: 2%;
        
        &:hover{
            opacity: 0.6;
            
        }
        &.tech-logos{
            width:60px;
            height:50px;
            border:none;
        }
    }
    
 .item{
    display:flex;
    flex:50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
    border:solid 3px white;
    border-radius: 30px;
    width:100%;
    h2{
        text-align:center;
        color:black;
        font-size:2.5em;
        font-weight:900;
    }
    p{
        font-size:1.2em;
        font-weight:600;
        color:setTextColor($secondary-color);
    }
    .desc{
        text-align:center;
        align-items: center;
        justify-content: center;
        align-content: center;
        .buttons{
        width:200px;
        text-align:center;
        margin: 0.5em auto ;
        &:hover{
            font-size:1.3em;
        }
        
        padding:1em;
        display:block;
        }
        .button-dark{
            border:solid 2px black;
            border-radius:25px;
            padding-top:1em;
            background:black;
        }
        .button-light{
            border:solid 2px;
            border-radius:25px;
            background:#1E90FF;
        }
    }
    &:hover{
        border:solid 5px white;
    }
    margin-top:2em;
    padding:0.4em;
    }
   .item-1{
        background:#4BC3C1;
        color:setTextColor($secondary-color);
    }
    .item-2{
        background:wheat;
        color:setTextColor($secondary-color);
    }
    .item-3{
        background:#66ffcc;
        color:setTextColor($secondary-color);
        
    }
    .item-4{
        background:#9933ff;
        color:setTextColor($secondary-color);
        
    }
    .item-5{
        background:#ffffff;
        color:setTextColor($secondary-color);
        
    }
    .item-6{
        background:#ccffff;
        color:setTextColor($secondary-color);
        
    }
    .item-7{
        background:wheat;
        color:setTextColor($secondary-color);
        
    }
   
  
    
}


#main-footer{
    bottom:0;
    text-align: center;
    padding:1em;
    background:darken($primary-color,10);
}







@import "mobile";